*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #00001b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 2vh;
    color: white;
    position: relative;
    
}

a{
    text-decoration: none;
    color: blue;
}

@keyframes up-down{

    from{
        bottom: 10vw;
        opacity: 0;
    
    }

    to{
        bottom: 0vw;
        opacity: 1;
    }
}

@keyframes down-up{

    from{
        top: 10vw;
        opacity: 0;
    }

    to{
        top: 0vw;
        opacity: 1;
    }
}

@keyframes left-right{

    from{
        right: 10vw;
        opacity: 0;
    }

    to{
        right: 0vw;
        opacity: 1;
    }
}

@keyframes right-left{

    from{
        left: 10vw;
        opacity: 0;
    }

    to{
        left: 0vw;
        opacity: 1;
    }
}

.backYellow{
    background: linear-gradient(60deg, rgb(149, 127, 0) 25% , rgb(255, 215, 0) 75%);
    padding: 0px 5px;
    margin: 0px -5px;
}

.backBlue{
    background-image: linear-gradient(60deg, #001f75 25% , #4a53fe 75%);
    padding: 0px 5px;
    margin: 0px -5px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}


/*Titulos*/
.title{
    word-spacing: 0.1px;
    padding: 5px;
    margin: 0px auto;
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
    font-family: Archivo, Sans-serif;
    font-size: 300.4%;
    line-height: 1.1;
    animation-name: up-down;
    animation-duration: 1s;
    position: relative;
    background-image: linear-gradient(60deg, #001f75 25% , #4a53fe 75%);
}

.title2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: fit-content;
    font-weight: 900;
    text-align: center;
    font-family: Archivo, Sans-serif;
    font-size: 180%;
    line-height: 1.1;
    padding: 5px 0px;
    animation-name: down-up;
    animation-duration: 1s;
    position: relative;
}

.title3{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
    font-family: Archivo, Sans-serif;
    font-size: 220%;
    line-height: 1.1;
    padding: 5px 10px;
}
/*Titulos fim*/


/*textos*/
.text-little{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: 200;
    animation: down-up 1s;
    position: relative;
}

@media (max-width: 1000px) {
    .text-little{
        width: 100%;
    }
}

@media (min-width: 1000px){
    .text-little{
        width: 75%;
    }
}

@media (min-width: 1400px){
    .text-little{
        width: 60%;
    }
}
/*textos fim*/

/*video*/
.video{
    margin-top: 20px;
    margin-bottom: 20px;
    border: rgb(255, 179, 0) 2px solid;
    box-shadow: 0px 0px 10px 2px rgb(255, 179, 0);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 1px;
    position: relative;
    animation: down-up 1s;
}

@media (max-width: 650px) {
    .video{
        width: 100%;
        height: 35vh;
    }
}

@media (min-width: 650px) {
    .video{
        width: 70%;
        height: 50vh;
    }
}

@media (min-width: 1000px){
    .video{
        width: 75%;
        height: 50vh;
    }
}

@media (min-width: 1400px){
    .video{
        width: 60%;
        height: 65vh;
    }
}
/*video fim*/


/*botao*/
.space{
    height: 200px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkBuy{
    display: inline-block;
}

.button{

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: aliceblue;
    width: 200px;
    height: 100px;
    border: 5px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    animation: button 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 60px;
}

.buy{
    
    
    color: black;
}

@keyframes button {

    from{

    }

    to{
        box-shadow: 0px 0px 50px 10px gold;
        width: 250px;
        height: 125px;
        font-size: 28px;
        border-radius: 120px;
    }
}
/*botao fim*/


/*lista*/
.list{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 1.2em;
    list-style-position: inside;
}

li{
    margin-bottom: 100px;
    margin-top: 100px;
}

.li1{
    animation-name: left-right;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timeline: view();
    animation-range: cover 5% cover 60%;
}

.li2{
    animation-name: left-right;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timeline: view();
    animation-range: cover 5% cover 60%;
}

.li3{
    animation-name: left-right;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timeline: view();
    animation-range: cover 5% cover 60%;
}

.li4{
    animation-name: left-right;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timeline: view();
    animation-range: cover 5% cover 60%;
}

.li5{
    animation-name: left-right;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timeline: view();
    animation-range: cover 5% cover 60%;
}
/*lista fim*/


.authors{
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .authors{
        flex-direction: column;
    }
}

.author{
    margin-left: auto;
    margin-right: auto;
    margin: 1% auto;
}

.authorName1{
    font-size: 25px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto;
    position: relative;
    animation-name: left-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    opacity: 0;
}

.authorName2{
    font-size: 25px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto;
    position: relative;
    animation-name: right-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    opacity: 0;
}

.authorPhoto1, .authorPhoto2{
    width: 90%;
    height: 90%;
    filter: drop-shadow(15px 10px 20px #4a53fe);
    position: relative;
}

.authorPhoto1{
    animation-name: left-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    opacity: 0;
}

.authorPhoto2{
    animation-name: right-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    opacity: 0;
}

.author>.text-little{
    font-size: 30px;
    text-align: left;
    animation-name: down-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 5% cover 50%;
    opacity: 0;
}

@media (max-width: 1000px){
    .author>.text-little{
        font-size: 22px;
    }
}

.center2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.center2-1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.center2>.text-little, .center2-1>.text-little{
    font-size: 150%;
    line-height: 3vw;
    position: relative;
}

.center2>.text-little{
    text-align: left;
    animation-name: left-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    opacity: 0;
}

.center2-1>.text-little{
    text-align: right;
    animation-name: right-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    opacity: 0;
}

@media (max-width: 1000px){
    .center2>.text-little, .center2-1>.text-little{
        font-size: 20px;
        line-height: 32px;
        text-align: center;
    }
}

.ilustrative-image{
    width: 50%;
    position: relative;
}

.center2>.ilustrative-image{
    animation-name: right-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    opacity: 0;
}

.center2-1>.ilustrative-image{
    animation-name: left-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    opacity: 0;
}

@media (max-width: 1000px) {
    .ilustrative-image{
        width: 90%;
    }
    .center2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }
    .center2-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }
}

footer{
    height: 200px;
    margin: 0 -2vh;
    background-color: #002ba3;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contato{
    display: flex;
    flex-direction: column;
}

.contato>.text-little{
    text-align: left;
    animation-name: none;
}

.endereco{
    display: flex;
    flex-direction: column;
}

.endereco>.text-little{
    text-align: left;
    animation-name: none;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
}

.redes-sociais>div{
    text-align: left;
    animation-name: none;
}